# Ignore everything

*

# But not these files...

!.gitignore
!readme.org

!SharepointConfig.cls
!SharepointUtilities.cls
!SharepointFoldersCtrl.cls

!SharepointFoldersAccounts.trigger

!package.xml

# ...even if they are in subdirectories

!*/
